@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bannerIcon {
    @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }
  .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
  }
  .bgOpacity {
    @apply bg-black bg-opacity-40;
  }
  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-lightText text-lg text-designColor font-medium px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300;
  }
  .contactTextArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-lightText text-lg text-designColor font-medium px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none;
  }
}

.active {
  color: #b9ffff;
  font-weight: bolder;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.banner-section {
  background-image: url("../src/assets/images/backgrounds/banner.png");
  background-size: cover;
  background-position: center;
}
.features-section {
  background-image: url("https://img.freepik.com/fotos-premium/diseno-fondo-banner-abstracto-tranquilo-su-proyecto-creativo_893755-1870.jpg?w=1380");
  background-size: cover;
  background-position: center;
}
.projects-section {
  background-image: url("https://img.freepik.com/free-vector/abstract-background-design_361591-2110.jpg?w=1480&t=st=1715527606~exp=1715528206~hmac=87b22fe9e5611c4c26b61ef2ea2ef3d679e4e605553319fec0b82bbfd4a13791");
  background-size: cover;
  background-position: center;
}
